<div class="fl">
  <img [src]="videoPath" alt="Video Feed">

</div>
<h2>Direction : {{ getDirection() }}</h2>
<div>
  <div class="row">
    <button type="button" class="col btn btn-lg btn-primary" (click)="avancer()">Avancer</button>
  </div>
  <p></p>
  <div class="row">
    <button type="button" class="col btn btn-lg btn-primary" (click)="tournerGauche()">Tourner à gauche</button>
    <div class="col-1"></div>
    <button type="button" class="col btn btn-lg btn-danger" (click)="stopRobot()">STOP</button>
    <div class="col-1"></div>
    <button type="button" class="col btn btn-lg btn-primary" (click)="tournerDroite()">Tourner à droite</button>
  </div>
  <p></p>
  <div class="row">
    <button type="button" class="col btn btn-lg btn-primary" (click)="reculer()">Reculer</button>
  </div>

</div>
