<div class="row">
  <div class="col" *ngIf="!showMap">
    <img class="border border-success" [src]="videoPath" alt="Video Feed" />
  </div>
  <div class="col" *ngIf="showMap">
    <img class="border border-success" [src]="mapPath" alt="Map Feed" />
  </div>
</div>
<button class="btn btn-primary" (click)="toggleView()">
  {{ showMap ? "Show Video" : "Show Map" }}
</button>

<div class="row">
  <div class="col">
    <button
      type="button"
      class="col btn btn-lg btn-primary btn-success"
      (click)="startMapping()"
    >
      Commencer la cartographie
    </button>
  </div>
</div>
