<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
      <img ngSrc="favicon.ico" alt="Logo" height="100" width="100">
    </div>
    <div class="col">
      <div class="titre-section">
        <h1><strong>{{ (currentMode$ | async)?.label }}</strong></h1>
      </div>

    </div>
    <div class="col">
      <h5><b>Status de connexion au robot : </b> <span [class]="isConnected ? 'online' : 'offline'">{{ isConnected ? 'Connecté' : 'Déconnecté' }}</span></h5>
    </div>
  </div>
</div>
