<div class="container">
  <div class="row my-4">
    <div class="col-md-6">
      <img class="border border-success" [src]="videoPath" alt="Video Feed" />
    </div>
    <div class="col-md-6">
      <ng-container>
        <div class="horizontal-values">
          <div class="value1">
            <h3>Heart Rate: {{ 10 }}</h3>
          </div>
          <div class="value1">
            <h3>Time: {{ 10 }} minutes</h3>
          </div>
          <div class="value1">
            <h3>Oxygen Level: {{ 10 }} % </h3>
          </div>
          <div class="value4">
            <h3>Av Speed: {{ 10 }}</h3>
          </div>
          <div class="value5">
            <h3>Distance: {{ 10 }} m</h3>
          </div>
          <div class="value6">
            <h3>Rating of the positioning: {{ 10 }}</h3>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <footer class="bg-secondary text-white text-center py-2">
    <p>&copy; 2024 Game Company. All rights reserved.</p>
  </footer>
</div>
