<div class="container">
  <!-- Première rangée : Titre et Menu -->
  <div class="row">
    <app-titre></app-titre>
  </div>

  <!-- Deuxième rangée : Contenu des modes et Router Outlet -->
  <div class="row">
    <app-menu></app-menu>
  </div>
  <div class="row">
    <!-- Colonne pour le contenu des modes -->
    <div class="col-10">
      <div *ngIf="menuService.isModeActive(0)">
        <app-mode-pilotage-manuel></app-mode-pilotage-manuel>
      </div>
      <div *ngIf="menuService.isModeActive(1)">
        <app-mode-suiveur-de-balle></app-mode-suiveur-de-balle>
      </div>

      <div *ngIf="menuService.isModeActive(2)">
        <app-mode-commande-vocale></app-mode-commande-vocale>
      </div>

    </div>



  </div>
</div>
<router-outlet></router-outlet>
