<div class="container">
  <!-- Première rangée : Titre et Menu -->
  <div class="row">
    <app-titre></app-titre>
  </div>

  <!-- Deuxième rangée : Contenu des modes et Router Outlet -->
  <div class="row">
    <app-menu></app-menu>
  </div>
  <div class="row">
    <!-- Colonne pour le contenu des modes -->
    <div class="col-10">
      <div *ngIf="menuService.isModeActive(0)">
        <app-current-game></app-current-game>
      </div>
      <div *ngIf="menuService.isModeActive(1)">
        <app-games></app-games>
      </div>

      <div *ngIf="menuService.isModeActive(2)">
        <app-players></app-players>
      </div>
      <div *ngIf="menuService.isModeActive(3)">
        <app-sensors></app-sensors>
      </div>

      <div *ngIf="menuService.isModeActive(4)">
        <app-select-table></app-select-table>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
